$base-color: #ccc;
$base-background: #fff;
$base-link-color: #000;
$base-link-hover-color: #000;
$base-link-active-color: #000;
$base-link-visited-color: #800080;
$base-link-focus-color: #ff0000;

$base-font: 16px/1.34 Arial, Helvetica, sans-serif;
